@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-gradient: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  --primary-bg: #150e28;
  --primary: #d434fe;
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

/* Mobile */
.hamburger {
  width: 70px;
  height: 70px;
  padding: 20px;
  @apply relative flex-col justify-between cursor-pointer inline-flex;
}
.hamburger .hamburger-line {
  height: 3px;
  border-radius: 6px;
  transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  @apply w-full bg-white block relative z-10;
}
.hamburger .hamburger-line.first, .hamburger .hamburger-line.third {
  @apply w-1/2;
}
.hamburger .hamburger-line.third {
  margin-left: 50%;
  transform-origin: left;
}

.menu-button-wrapper {
  @apply relative inline-block md:hidden;
  z-index: 1000;
}
.menu-button-wrapper .menu-button {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
/* Open classes */
.menu-button-wrapper.open {
  @apply border-903aff rounded-full border;
}
.menu-button-wrapper.open .icon-wrapper .hamburger-line.second {
  transform: rotate(-45deg);
}
.menu-button-wrapper.open .icon-wrapper .hamburger-line.first {
  transform: translate(2px, 8px) rotate(-135deg);
}
.menu-button-wrapper.open .icon-wrapper .hamburger-line.third {
  transform: translate(11px, -3px) rotate(-135deg);
}
.menu-button-wrapper.open .icon-wrapper .hamburger:before {
  transform: rotate(45deg);
}
